<footer class="mdl-mini-footer" style="position: relative; margin-bottom: 0px; margin-top: auto;">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
            <span>Maintained by Sam Hillcoat</span>
        </div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="/">Weather</a></li>
        <li><a href="admin">Admin</a></li>
        <li><a href="#">Github</a></li>
        <li><a href=" mailto:ham.sillcoat@gmail.com?subject=Deviot%20Weather%20Station%20Issue%20Report&body=Thanks%20for%20reporting%20an%20issue%20with%20deviotweather.com.%20Please%20describe%20the%20problem%20below.%0D%0A-%20Sam%0D%0A------------------------------------------------------------------------------------%0D%0A ">Report a problem</a></li>
      </ul>
      
    </div>
</footer>